[submodule "extern/wiringPi"]
	path = extern/wiringPi
	url = https://github.com/WiringPi/WiringPi.git
[submodule "extern/pigpio"]
	path = extern/pigpio
	url = https://github.com/joan2937/pigpio.git
[submodule "extern/kotyamba_joystick"]
	path = extern/kotyamba_joystick
	url = git@github.com:spineight/kotyamba_joystick.git
